<div
  class="modal fade"
  id="newmapModal"
  tabindex="-1"
  aria-labelledby="newmapModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="newmapForm">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="new-mapModal">Create New Map</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <select
          class="form-select"
          id="dropdown-cities"
          aria-label="Default select example"
        >
          <option selected>Select a city</option>
          <option value="Toronto">Halifax</option>
          <option value="London">London</option>
          <option value="Montreal">Montreal</option>
          <option value="Toronto">Toronto</option>
          <option value="Quebec City">Quebec City</option>
          <option value="Vancouver">Vancouver</option>
          <option value="Winnipeg">Winnipeg</option>
        </select>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
