<header class="fixed-top bg-dark px-4 py-2 text-white wikimap-header">
  <div class="d-flex align-items-center justify-content-between">
    <a href="/" class="navbar-brand">
    <img src="https://www.vectorlogo.zone/logos/mapbox/mapbox-icon.svg" height="20" alt=" My Map">
    <br>Map This!
  </a>
    <div class="d-flex align-items-center">
      <span id="wikimap-header-logout">
        <label class="mx-1">
          Welcome
          <span id="wikimap-header-login-user"></span>
        </label>
        <button id="logoutBtn" type="button" class="btn btn-dark mx-1">Logout</button>
      </span>
      <span id="wikimap-header-login">
        <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
      </span>
    </div>
  </div>
</header>
