<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">Map This!</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
  

    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"> -->
        <!-- <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a> -->
      <!-- </div>
    </div> -->
    <!-- Logout form -->
    <form method="POST" action="/logout">
    <div class="form-group">
      <label>Welcome torontofam</label>
      <button type="submit" class="btn btn-outline-dark">Logout</button>
    </div>
    </form>
      
    <!-- Login modal form -->

        <a class="btn btn-dark" href="/login" style="margin: 1em">Login</a>
        <div class="login-popup">
          <div class="login-popup-overlay"></div>
          <div class="form">
            <div class="close">&times;</div>
            <h1>Login</h1>
            <form action="#">
              <label for="email">Email</label>
              <input type="email" placeholder="email">
              <label for="password">Password</label>
              <input type="password" placeholder="password">
              <input type="submit" value="Sign In">
            </form>
          </div>
        </div>

        <!-- Register modal form -->
        <a class="btn btn-dark" href="/register" style="margin: 1em">Register</a>
  
  </nav>
</header>
