<div id="wikimap-sidebar" class="fixed-top h-100 bg-primary text-white">
  <div class="fs-4">Available Maps</div>
  <div id="side-nav-body" class="list-group list-group-flush"></div>
  <div class="create-map" >
    <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="#newmapModal">Create New Map</button>
  </div>
</div>
