<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modals.css" type="text/css" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
 integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
 crossorigin=""></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  
</head>

<%- include("partials/_header") %>
<body>
  <div class="body-content">
    <div class="map-content">
  <div id="map">
  <script>
    const map = L.map('map').setView([43.6478463,-79.3807361], 16);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(map);
  </script>
  </div>
  <div class="map-description-box">
    <small>Created By: User</small>
    <small>Created On: 00-00-0000</small>
    <label for="description">Description: this describes the contents of the map</label>
    <!-- <textarea id="map-description" name="map-description"></textarea> -->
  </div>
</div>
  <!-- Nav Bar --->
  <div class="side-nav">
    <div class="side-nav-header">All Maps</div>
      <ul>
        <li><a href="#">Map 1</a></li>
        <li><a href="#">Map 2</a></li>
        <li><a href="#">Map 3</a></li>
      </ul>
      </div>
    </div> 
</div>
</div>

<!-- Login modal -->
<div class="popup-overlay"></div>
<div class="login-modal">
<div class="popup">
  <div>
    <div class="close-login">&times;</div>
    <h1 id="login-header">Login</h1>
    <form class="login-form" action="#">
      <div class="info">
      <label for="email">Email</label>
      <input type="email" placeholder="email">
    </div>
    <div class="info">
      <label for="password">Password</label>
      <input type="password" placeholder="password">
    </div>
      <div class="info">
      <input class="submit" type="submit" value="Log In">
    </div>
    </form>
  </div>
</div>
</div>

<!-- Register modal  -->
<div class="register-modal">
 <div class="popup">
  <div>
    <div class="close-register">&times;</div>
    <h2 id="register-header">Register</h2>
    <form class="register-form" action="#">
      <div class="info">
        <label for="username">Username</label>
      <input type="username" placeholder="Userame">
    </div>
    <div class="info">
      <label for="email">Email</label>
      <input type="email" placeholder="email">
    </div>
    <div class="info">
      <label for="password">Password</label>
      <input type="password" placeholder="password">
    </div>
      <div class="info">
      <input class="submit" type="submit" value="Sign Up">
    </div>
    </form>
  </div>
</div>
</div>
<script type="text/javascript" src="/scripts/modal.js"></script>
</body>

</html>

