

    <div class="popup-overlay"></div>
    <div class="login-modal">
        <div class="popup">
        <div>
            <div class="close-login">&times;</div>
            <h1 id="login-header">Login</h1>
            <form class="login-form" action="/api/users/login" method="POST">
            <div class="info">
            <label for="username">Username</label>
            <input name ="username" type="username" placeholder="username">
            </div>
            <div class="info">
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="password">
            </div>
            <div class="info">
            <input class="submit" type="submit" value="Log In">
            </div>
            </form>
        </div>
        </div>
    </div>


