

    <div class="popup-overlay"></div>
    <div class="login-modal">
        <div class="popup">
        <div>
            <div class="close-login">&times;</div>
            <h1 id="login-header">Login</h1>
            <form class="login-form" action="#">
            <div class="info">
            <label for="email">Email</label>
            <input type="email" placeholder="email">
            </div>
            <div class="info">
            <label for="password">Password</label>
            <input type="password" placeholder="password">
            </div>
            <div class="info">
            <input class="submit" type="submit" value="Log In">
            </div>
            </form>
        </div>
        </div>
    </div> 
   

