<<<<<<< HEAD
#map {
  display: flex;
  flex-direction: column-reverse;
  height: 85vh;
  width: 90vw;
  padding-right: 0vw;
  z-index: 1;
=======
.wikimap-map {
  height: 100%;
>>>>>>> b0dac57c8f6fb173114fac5d769be8df66d3f640
}

.map-description-box{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  font-size: 20px;
}
