.wikimap-map {
  height: 100%;
  width: 100%;
}

.map-description-box{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  font-size: 20px;
}

.pin-form-container {
  width: 150px;
}
